.App {
  background: repeating-linear-gradient(
  -55deg,
  white,
  white 30px,
  rgb(240, 251, 255) 30px,
  rgb(240, 251, 255) 60px
);
}
@keyframes font-animation {
  from {font-size: 1.3em;}
  to {font-size: 1.2em;}
}
.heading {
  color: white;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 36px;
  /* background: linear-gradient(to bottom, #03a9f4, white); */
  background-color: #03a9f4;
  text-align: center;
  height: 270px;
}
.heading-title {
  padding-top: 50px;
  margin: auto;
}
.main-copy {
  margin: auto;
  width: 60%;
  /* font-size: calc(12px + 0.5vw); */
  color: #03a9f4!important;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 30px;
  -webkit-animation: font-animation .3s ease 0s;
  -o-animation: font-animation .3s ease 0s;
  animation: font-animation .3s ease 0s;

}
.copy {
  width: 66.66667%;
  margin: auto;
} 
.main-copy img {
  display: block;
  margin-top: -112px;
  margin-left: auto;
  margin-right: auto;
}
.main-copy video {
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}